<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinafjz.cleaning.nanny.dao.NannyLabelModelMapper" >
  <resultMap id="BaseResultMap" type="com.yinafjz.cleaning.nanny.model.NannyLabelModel" >
    <id column="lable_id" property="lableId" jdbcType="INTEGER" />
    <result column="nanny_id" property="nannyId" jdbcType="INTEGER" />
    <result column="label" property="label" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    lable_id, nanny_id, label
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ynf_nanny_label
    where lable_id = #{lableId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ynf_nanny_label
    where lable_id = #{lableId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yinafjz.cleaning.nanny.model.NannyLabelModel" >
    <selectKey resultType="java.lang.Integer" keyProperty="lableId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ynf_nanny_label (nanny_id, label)
    values (#{nannyId,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yinafjz.cleaning.nanny.model.NannyLabelModel" >
    <selectKey resultType="java.lang.Integer" keyProperty="lableId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ynf_nanny_label
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nannyId != null" >
        nanny_id,
      </if>
      <if test="label != null" >
        label,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nannyId != null" >
        #{nannyId,jdbcType=INTEGER},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yinafjz.cleaning.nanny.model.NannyLabelModel" >
    update ynf_nanny_label
    <set >
      <if test="nannyId != null" >
        nanny_id = #{nannyId,jdbcType=INTEGER},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
    </set>
    where lable_id = #{lableId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yinafjz.cleaning.nanny.model.NannyLabelModel" >
    update ynf_nanny_label
    set nanny_id = #{nannyId,jdbcType=INTEGER},
      label = #{label,jdbcType=VARCHAR}
    where lable_id = #{lableId,jdbcType=INTEGER}
  </update>
</mapper>